<head>
    <link 
        rel="stylesheet" 
        href={{ url_for('static', filename='style.css') }}
    >
</head>


{% if username != session['username'] %}
<p>Sorry, seems like something goes wrong. Return to Sign In</p>
<a href={{ url_for('index') }}>To Sign In</a>

{% else %}
<a href={{ url_for('logout') }}>Log Out</a>
<h2>Hello, {{ username|title }}!</h2>

{% with messages = get_flashed_messages() %}
    {% for m in messages %}
        <p>{{ m }}</p>
    {% endfor %}
{% endwith %}


<ol>
{% for task in tasks %}
    <li>{{ task.title }} ({{ task.status }})
        <a href={{ "/remove/task_" + loop.index|string }}>Remove</a>
        <a href={{ "/status/task_" + loop.index|string }}>Completed</a> 
    </li>
{% endfor %}
</ol>

<form method="POST">
    
    <p>Title</p>
    <input 
        type="text"
        name="title"
        minlength="3"
        maxlength="20"
        required
    >
    <p>Details</p>
    <textarea rows="4" name="details"></textarea>
    <p>Deadline</p>
    <input 
        type="date" 
        name="deadline_date"
    >
    <br>
    <br>
    <input type="submit">
</form>


{% endif %}