<head>
    <link 
        rel="stylesheet" 
        href={{ url_for('static', filename='style.css') }}
    >
    <link 
       rel="stylesheet" 
        href={{ url_for('static', filename='user.css') }}
    >
</head>


{% if username != session['username'] %}
<p>Sorry, seems like something goes wrong. Return to Sign In</p>
<a href={{ url_for('index') }}>To Sign In</a>

{% else %}
<a id="logout" href={{ url_for('logout') }}>Log Out</a>
<h2>Hello, {{ username|title }}!</h2>

{% with messages = get_flashed_messages() %}
    {% for m in messages %}
        <p>{{ m }}</p>
    {% endfor %}
{% endwith %}


<div id="wrapper">
{% for task in tasks %}
    <div class="card">
        <div class="card-img"></div>
        <h3 class="card-title">{{ task.title }}</h3>
        <p class="card-details">{{ task.description }}</p>
        <div class="card-start">Created: {{ task.created_on }}</div>
        {% if task.deadline %}
        <div class="card-end">Deadline: {{ task.deadline }}</div>
        {% endif %}
        <a href={{ "/remove/task_" + loop.index|string }}>Remove</a>
        <a href={{ "/status/task_" + loop.index|string }}>Completed</a> 
    </div>
{% endfor %}
</div>

<form method="POST">
    
    <p>Title</p>
    <input 
        type="text"
        name="title"
        minlength="3"
        maxlength="20"
        required
    >
    <p>Details</p>
    <textarea rows="4" name="details"></textarea>
    <p>Deadline</p>
    <input 
        type="date" 
        name="deadline_date"
    >
    <br>
    <br>
    <input type="submit">
</form>


{% endif %}